<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<footer th:fragment="footerFragment" class="footer bg-light">
    <div class="container-fluid">
        <div class="row my-5 ">
            <div class="col-5 offset-2">
                <dl class="footertext">
                    <br>
                    <dt>2조 창작사이트</dt>
                    <hr>
                    <br>
                    <br>
                    <dd>팀명 : 무한루프 &nbsp;|&nbsp; 대표자명 : 김상일</dd>
                    <br>
                    <dd>주소 : 경기도 수원시 팔달구 덕영대로 905 아이메카빌딩 11층 1103호</dd>
                    <br>
                    <dd>COPYRIGHT ⓒ 2021 'for( ; ; )' ALL RIGHT RESERVED</dd>
                </dl>
            </div>
            <div class="col-1 mx-1">
                <dl class="footertext">
                    <br>
                    <dt>Perfume</dt>
                    <hr>
                    <dd>Man</dd>
                    <dd>Woman</dd>
                    <hr>
                    <dt>Defuser</dt>
                    <hr>
                    <dt>Candle</dt>
                    <hr>
                    <dt>Review</dt>
                </dl>
            </div>
            <div class="col-1 mx-3">
                <dl class="footertext">
                    <br>
                    <dt>Login</dt>
                    <hr>
                    <dt>MyPage</dt>
                    <hr>
                    <dt>Cart</dt>
                </dl>
            </div>
            <div class="col-1 mx-3">
                <dl class="footertext">
                    <br>
                    <dt>Members</dt>
                    <hr>
                    <dd>김상일</dd>
                    <dd>김정훈</dd>
                    <dd>박영서</dd>
                </dl>
            </div>
        </div>
    </div>
</footer>

</html>