<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
<meta charset="UTF-8">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link type="text/css" rel="stylesheet" th:href="@{/css/signup2.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/signup.js}"></script>
</th:block>

<main layout:fragment="content" class="container-fluid">
	<div class="row" id="info">
		<div class="col-8 offset-2">
			<h1 id="title">회원가입</h1>
		</div>
		<div class="col-8 offset-2">
			<hr style="color: black;">
		</div>
		<div id="line" class="row justify-content-md-center">
			<div class="col-md-auto">
				<form th:action="@{/signup}" method="post" name="frm">
					<table>
						<tr>
							<td class="line"><span class="dot">*&nbsp;</span>이름</td>
							<td><input class="box" type="text" name="name"></td>
						</tr>
						<tr>
							<td class="line"><span class="dot">*&nbsp;</span>성별</td>
							<td><input class="box" type="radio" name="gender" value="1">남자
								<input class="box" type="radio" name="gender" value="0">여자
							</td>
						</tr>
						<tr>
							<td class="line"><span class="dot">*&nbsp;</span>아이디</td>
							<td>
								<input id="Add_ID" class="box" type="text" name="userid">
								<input type="hidden" name="reid">
								<input type="button" value="중복체크" onclick="idCheck()">
							</td>
						</tr>
						<tr>
							<td class="line"><span class="dot">*&nbsp;</span>비밀번호</td>
							<td>
								<input id="password_1" class="pw" type="password" name="pwd">
								<span id="ano">8~15자리의 영문, 숫자, 특수문자의 입력이 가능합니다.</span>
							</td>
						</tr>
						<tr>
							<td class="line"><span class="dot">*&nbsp;</span>비밀번호 확인</td>
							<td><input id="password_2" class="pw" type="password" name="pwd_check">
								<span id="alert-success">비밀번호가 일치합니다.</span>
								<span id="alert-danger">비밀번호가 일치하지 않습니다.</span>
							</td>
						</tr>
						<tr>
							<td class="line"><span class="dot">*&nbsp;</span>주소</td>
							<td><input id="adr" class="box" type="text" name="address"></td>
						</tr>
						<tr>
							<td class="line"><span class="dot">*&nbsp;</span>전화번호</td>
							<td><input class="box" type="text" name="phone" placeholder=" 000-0000-0000"></td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input id="btn1" type="submit" value="완료" onclick="return joinCheck()">
								<input id="btn2" type="button" value="취소"
									th:onclick="'location.href=\''+ @{/sign/} + '\''">
							</td>
						</tr>
						<tr>
							<td colspan="2" th:text="${message}"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</main>

</html>